/**
 * Layout
 */

// Move down to make space for nav
#main-content {
  margin-top: 55px;
  padding: 40px 0 0;
  min-height: calc(100vh - 162px);
}

// Float in middle 
.container {
  max-width: $width;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@include small-breakpoint {
  .container {
    padding: 0 2rem;
  }
}


.post-line {
  h2{
    font-size: 1.3rem;
    color: rgba(0,0,0,.6);
  }
}