/**
 * Layout
 */

// Move down to make space for nav
#main-content {
  margin-top: 55px;
  padding: 40px 0 0;
  min-height: calc(100vh - 162px);
}

// Float in middle
.container {
  max-width: $width;
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@include small-breakpoint {
  .lead {
    font-size: 1.2rem;
    padding-right: 0.5rem;
    h1 {
      font-size: 4rem;
    }
  }
}

@include small-breakpoint {
  .container {
    padding: 0 2rem;
  }
}

.social-buttons {
  display: flex;
  align-items: center;

  div:first-of-type {
    margin-right: 0.5rem;
  }
}

.post-info {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 2fr;
  grid-gap: 0.6rem;
}

.posts.expanded {
  .post-info {
    grid-gap: 1.3rem;
  }
}

.post-line {
  h2 {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
  }
}

.category-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;

  .category-filter {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    padding: 0.5rem 0.75rem;
    background: lighten($primary-color, 42%);
    border-radius: $border-radius;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: $primary-color;
    cursor: pointer;

    .count {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      margin-left: 1rem;
      color: $primary-color;
      height: 23px;
      width: 23px;
      border-radius: 50%;
      padding: 5px 5px 5px 5px;
    }

    &.active {
      background: $primary-color;
      color: white;

      .count {
        background: white;
      }

      &:hover,
      &:active,
      &:focus {
        color: white;
        background: darken($primary-color, 10%);
      }
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      background: lighten($primary-color, 28%);
      color: darken($primary-color, 5%);
    }
  }
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  input {
    margin-bottom: 0rem;
  }
}

.filter-count {
  width: 60px;
  text-align: center;
  color: $primary-color;
  font-size: 1.4rem;
  font-weight: 600;
}

.post-tag-container {
  button {
    background: #f2f2f2; 
    font-size: 0.9rem;
    color: $alternate-color;
    padding: .3rem .8rem;
    border: none;
  }

  a:not(:first-child) {
    margin-left: 0.4rem;
  }
}

@include small-breakpoint {
  .single-header {
    display: grid;
    grid-template-columns: 180px 1fr;
    margin-bottom: 80px;

    h1 {
      margin: 0 0 0.5rem 0;
    }
  }
}

.post-meta {
  font-size: 0.8rem;
  display: inline-block !important;
  margin-bottom: 1rem;

  .date {
    margin-right: 0.5rem;
  }

  a {
    color: $alternate-color;
    font-weight: 600;

    &.comment-link,
    &.twitter-link,
    &.github-link {
      margin: 0 0.5rem;
    }

    &.comment-link {
      text-transform: lowercase;
    }

    &:hover {
      color: $primary-color;
    }
  }
}
