/**
 * Layout
 */

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background: white;

  .nav-container {
    padding: 0 2rem;
    height: 55px;
    max-width: $width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height 0.3s ease;
  }

  .me {
    font-size: 1.3rem;
    font-weight: 600;

    a {
      display: flex;
      align-items: center;
      color: #333;
      margin-right: 0;
      font-weight: 600;
      font-size: 1.1rem;

      &:hover,
      &:focus {
        color: black;
      }
    }

    .text {
      display: none;
    }

    img {
      width: 30px;
      margin-right: 1rem;
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    margin: 0;

    a {
      display: flex;
      align-items: center;
      font-size: 1.05rem;
      font-weight: 500;
      padding: 1rem 0.75rem;
      margin: 0;
      color: rgba(0, 0, 0, 0.45);
      line-height: 1.2;
      text-align: center;

      &:hover,
      &:active {
        color: #111;
        text-decoration: none;
      }
    }
  }
}

@include small-breakpoint {
  .nav {
    &.scroll {
      box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);

      .nav-container {
        height: 60px;
      }

      .links a {
        &:hover,
        &.active {
          color: #111;
          border-bottom: 2px solid $primary-color;
        }

        &:active {
          color: #111;
          border-bottom: 2px dashed $primary-color;
        }
      }
    }
  }
}

@include medium-breakpoint{
  .nav-container {
    .text {
      display: block !important;
    }
  }
}
